<a class="Contenedor">
    <div class="footer">
        <div (click)="seleccionarOpcionMenu('Chats')" class="opcion" [ngClass]="{'active': opcionMenu=='Chats'}">
            <fa-icon [icon]="Chats"></fa-icon>
            Chat
        </div>
        <div (click)="seleccionarOpcionMenu('Teams')" class="opcion" [ngClass]="{'active': opcionMenu=='Teams'}">
            <fa-icon [icon]="Teams"></fa-icon>
            Teams
        </div>
        <div (click)="seleccionarOpcionMenu('Calls')" class="opcion" [ngClass]="{'active': opcionMenu=='Calls'}">
            <fa-icon [icon]="Calls"></fa-icon>
            Calls
        </div>
        <div (click)="seleccionarOpcionMenu('More')" class="opcion" [ngClass]="{'active': opcionMenu=='More'}">
            <fa-icon [icon]="More"></fa-icon>
            More
        </div>
    </div>
</a>


