.Contenido{
    color: white;
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 12px;

}

.chatImg{
    margin: 5%;
}

.InfoChat{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.personalImg{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f2917;
    background-color: #edd6ce;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}


