<a class="Contenido" [routerLink]="'conversaciones/' + infoChats.idConversacion">
   
    <div class="chatImg">
        <div class="personalImg">
            <h1>{{userNameImg}}</h1>
            <fa-icon *ngIf="isAGropy==true" [icon]="Teams"></fa-icon>
        </div>
    </div>
    <div class="InfoChat">
        <div>{{infoChats.nombreDestinatario}}</div>
        <div>{{infoChats.ultimoMensaje}}</div>
    </div>
    
    <div class="Hora">
        {{infoChats.horaUltimoMensaje}}
    </div>     


</a>
